/static/images
.vscode
/node_modules
*.log
.expo
.env
package-lock.json
yarn.lock

# Non-Expo files
app.html
dashboard.html
inventory.html
web/
static/
users.json
App-Store-Deployment-Guide.md
PRIVACY_POLICY.md
